body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #8000ff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  color: white;
}

.sidebar h2 {
  color: #00ffff;
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  color: #00ffff;
}

.content {
  margin-left: 240px; /* espacio para el sidebar */
  padding: 2rem;
  flex-grow: 1;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  color: #000;
  background: #eee;
  margin-top: 2rem;
  border-top: 1px solid #ccc;
}
